{%extends 'layout.html'%}
{%block title%}Home{%endblock%}
{%block scripts%}
<script defer src="static\js\audio_media_handler.js"></script>
<script defer src="static\js\homepage.js"></script>

{%endblock%}
{%block style%}
{%endblock%}
{%block content%}

<!--<div class = "microphone-speaker-circle" onmouseover="this.className = 'microphone-speaker-circle speaking-active'";
onmouseout="this.className = 'microphone-speaker-circle'" id = "microphone_speaker_circle">
   <i class="fa-solid fa-microphone"></i>
</div>-->

<div class = "query-form" style="display: block;">
   <input type = "text" id = "query" class="form input">
   <label for="query">Query</label>
</div>
<style>
   .search-result-item{
      border: 2px solid white;
   }
   .album-art{
      height: 50px;
      width: 50px;
   }
</style>
<script>
   
</script>
<div id = "search_results">
   
</div>
<button id = "primary_search_button" class = "btn btn-primary">Search</button>
{%endblock%}