{%extends 'layout.html'%}
{%block title%}Home{%endblock%}
{%block scripts%}
<script defer src="static\js\audio_media_handler.js"></script>
<script defer src="static\js\homepage.js"></script>

{%endblock%}
{%block style%}
{%endblock%}
{%block content%}

<!--<div class = "microphone-speaker-circle" onmouseover="this.className = 'microphone-speaker-circle speaking-active'";
onmouseout="this.className = 'microphone-speaker-circle'" id = "microphone_speaker_circle">
   <i class="fa-solid fa-microphone"></i>
</div>-->

<div class = "query-form" style="display: block;">
   <input type = "text" id = "query" class="form input">
   <label for="query">Query</label>
</div>
<style>
   .search-result-item{
      border: 2px solid white;
   }
   .album-art{
      height: 50px;
      width: 50px;
   }
</style>
<script>
   
</script>
<div id = "search_results">
   <div id="track-62PaSfnXSMyLshYJrlTuL3" class="search-result-item">
      <div class = "album-art-container">
        <img src="https://i.scdn.co/image/ab67616d00001e022e88d7f65e6bea2a05202c14" alt="25 Cover Art" class="album-art">
      </div>
      <div class = "track-information-container">
        <div>Hello</div>
        <div>25</div><div>Adele</div><button data-audio-id="62PaSfnXSMyLshYJrlTuL3">Show Preview</button>
      </div>
      <div>Hello</div>
      <!--<audio controls  src="https://p.scdn.co/mp3-preview/c9e07a3179cae95f703580aa53325ec73781ddff?cid=f6a40776580943a7bc5173125a1e8832"></audio>-->
      </div>
</div>
<button id = "primary_search_button" class = "btn btn-primary">Search</button>
{%endblock%}