{%extends 'layout.html'%}
{%block title%}Home{%endblock%}
{%block scripts%}
<script defer>
    "use strict"

const AudioContext = window.AudioContext || window.webkitAudioContext;
var context = new AudioContext({'sampleRate':44100});

function record_audio_segment(stream, audioElementId = 'audio', timeMS = 5000){
   const mediaRecorder = new MediaRecorder(stream);
   document.getElementById('get_audio_for_shazam').addEventListener('click', function(){
      mediaRecorder.start();
         setTimeout(()=>{mediaRecorder.stop()}, timeMS);
         mediaRecorder.addEventListener('dataavailable', (e) =>{
         var blob = new Blob([e.data], { 'type' : 'audio/raw; codecs=opus' });
         document.getElementById(audioElementId).src = window.URL.createObjectURL(blob);
         });
   });
   return
}



window.SpeechRecognition = window.SpeechRecognition
                || window.webkitSpeechRecognition;
const recognition = new SpeechRecognition();
recognition.interimResults = true;
recognition.continuous = true;

recognition.addEventListener('result', e => {
    const transcript = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.transcript)
        //.join('')
    const confidence = Array.from(e.results)
        .map(result => result[0])
        .map(result => result.confidence)
        //.join('')
    const temp_transcript = String(transcript.pop()).trim();
    const temp_confidence = String(confidence.pop()).trim();
    if (transcript[0] != undefined){
      document.getElementById('microphone_speaker_circle').className = "microphone-speaker-circle speaking-active";
    }else{
      document.getElementById('microphone_speaker_circle').className = "microphone-speaker-circle";
    }

});
if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
   console.log('getUserMedia supported.');
   navigator.mediaDevices.getUserMedia (
      // constraints - only audio needed for this app
      {
         audio: true
      })
      // Success callback
      .then(function(stream) {
         //record_audio_segment(stream)

      })

      // Error callback
      .catch(function(err) {
         console.log('The following getUserMedia error occurred: ' + err);
      }
   );
} else {
   console.log('getUserMedia not supported on your browser!');
}


 

    
</script>
{%endblock%}
{%block style%}
{%endblock%}
{%block content%}
Home Page
<button id = "get_audio_for_shazam">Record</button>
<button id = "temporary_stop">Stop</button>
<audio controls id = "audio">

  </audio>
  <audio controls id = "second_audio"></audio>
<style>
   .microphone-speaker-circle{
      height: 10vh;
      width: 10vh;
      border-radius: 10vh;
      position: absolute;
      border: 0.25rem dashed black;
      text-align: center;
      font-size: 5vh;
   }
   .speaking-active{
      border: 0.25rem solid black;
   }
   .speaking-active>i{
      transform: scale(1.3);
      transition-duration: 100ms;
   }
   .microphone-speaker-circle>i{
      transition-duration: 100ms;
   }
</style>
<div class = "microphone-speaker-circle" onmouseover="this.className = 'microphone-speaker-circle speaking-active'";
onmouseout="this.className = 'microphone-speaker-circle'" id = "microphone_speaker_circle">
   <i class="fa-solid fa-microphone"></i>
</div>

{%endblock%}